@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Lato', sans-serif;
}

/* background-color: rgb(238, 238, 9); */

header {
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: #222;
    box-shadow: 0px 5px 5px 0px #888;
}

.logo {
    margin: 10px;
    width: 80px;
    border-radius: 10px;
}

.header_text {
    display: inline;
    position: absolute;
    color: white;
    top: 10px;
    left: 120px;
}

.header_text_1 {
    display: none;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    padding-top: 30px;
}


.box {
    margin: 35px;
    border: 1px solid #999;
    border-radius: 10px;
    transition: 0.3s;
    background-color: rgb(247, 245, 245);
    box-shadow: 0px 2px 2px 0px #999;
}

.box:hover {
    background-color: rgb(250, 250, 228);
}


.text { 
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
}

.p_text {
    padding: 20px;
    font-size: 20px;
    color: #444;
}

ul {
    font-size: 20px;
}

li {
    padding: 4px;
    list-style: none;
}


.big_div {
    display: flex;
    text-align: center;
}

.div1 {
    width: 60%;
}


.demo_div {
    color: rgb(245, 245, 61);
    text-align: center;
    padding: 20px;
    margin: 50px;
    border: 2px solid rgb(212, 212, 14);
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgb(133, 133, 3);
    background-color: #222;
}

.paragraf {
    display: inline;
    padding: 20px;
    font-size: 20px;
}

input {
    font-size: 20px;

    margin-bottom: 20px;
    background-color: rgb(250, 250, 186);
}

b {
    cursor: pointer;
}



.popup {
    visibility: hidden;
    margin-left: 5%;
    margin-top: 10%;
    cursor: pointer;
    position: absolute;
    text-align: center;
    width: 90%;
    border: 2px solid black;
    background-color: white;
    box-shadow: 50px 50px 100px 50px #222;
    border-radius: 10px;
}


.popup2 {
    color: rgb(245, 245, 61);
    visibility: hidden;
    margin-left: 5%;
    margin-top: 10%;
    cursor: pointer;
    position: absolute;
    text-align: center;
    width: 90%;
    border: 2px solid yellow;
    background-color: #222;
    box-shadow: 50px 50px 100px 50px #222;
    border-radius: 10px;
    margin-bottom: 100px;
}


button {
    width: 100px;
    height: 50px;
    margin: 20px;
    background-color: rgb(240, 240, 102);
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid yellow;
    box-shadow: 0px 5px 0px 0px rgb(121, 121, 2);
}


#promenadelatnosti, #promenavlasnika, #uredan {
    width: 20px;
    height: 20px;
    
}

#promenavlasnika {
    margin-left: 22px;
}

.deda {
    width: 50%;
    cursor: pointer;
}

.image {
    width: 80%;
    padding: 10%;
}

.header_text_2 {
    float: right;
    padding: 15px;
    margin-right: 50px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.qrimage {
    width: 30%;
    margin: 0;
    padding: 20px;
}

.popupqr {
    margin-top: -200px;
    width: 100%;
    background-color: #444;
    box-shadow: 0px 10px 10px 0px #666;
    text-align: center;
    border: 3px solid #999;
    display: none;
    cursor: pointer;
    position: absolute;
}


@media only screen and (max-width: 800px) {

    .logo {
        display: none;
    }

    .header_text {
        display: none;

    }

    .header_text_1 {
        display: block;

    }

    .big_div {
        display: block;
 
    }


    .popup2 {
        margin-top: 400px;
    }

    .div1 {
        margin-left: 60px;

    }

    .div2 {
        margin-left: -20px;
    }

    input {
        width: 90%;
    }

    .box {
        margin: 20px;
    }

    .header_text_2 {
        display: none;
    }

  
   
  }